# Built-in Data Structures, Functions,

## Data Structures and Sequences

### Tuple

In [1]:
tup = 4, 5, 6

In [2]:
tup

(4, 5, 6)

In [3]:
nested_tup = (4, 5, 6), (7, 8)

In [4]:
nested_tup

((4, 5, 6), (7, 8))

In [5]:
test = 1,2,3

In [6]:
test

(1, 2, 3)

In [7]:
type(test)

tuple

In [8]:
tup[0]

4

In [9]:
tup = tuple(['foo',[1,2],True])# use the bracket

In [10]:
tup

('foo', [1, 2], True)

In [11]:
tup[2] = False

TypeError: 'tuple' object does not support item assignment

In [12]:
tup[1].append(3)# use append to add value

In [13]:
tup

('foo', [1, 2, 3], True)

In [14]:
(4, None, 'foo') + (6, 0) + ('bar',)

(4, None, 'foo', 6, 0, 'bar')

In [15]:
('foo', 'bar') * 4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

### Unpacking tuples

In [16]:
tup = (4, 5, 6)

In [17]:
a, b, c = tup# use comma to seperate the parameter

In [18]:
b

5

In [19]:
a, b, c, d = tup

ValueError: not enough values to unpack (expected 4, got 3)

In [20]:
tup = 4, 5, (6, 7)

In [21]:
a, b, (c, d) = tup

In [22]:
d

7

In [23]:
tmp = a 
a = b 
b = tmp# swap the number

In [24]:
a, b = 1, 2
a
b
b, a = a, b
a
b# in python, we can swap like this

1

In [25]:
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
for a, b, c in seq:# in the []
    print('a={0}, b={1}, c={2}'.format(a, b, c))# the print method from

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

In [26]:
values = 1, 2, 3, 4, 5

In [27]:
values

(1, 2, 3, 4, 5)

In [28]:
a, b, *rest = values

In [29]:
a, b

(1, 2)

In [30]:
rest

[3, 4, 5]

In [31]:
a, b, c, *test = values

In [32]:
a

1

In [33]:
a,c# become the tuple

(1, 3)

In [34]:
test# array-like

[4, 5]

In [35]:
a, b, *_ = values

In [36]:
_# programmer use underscore to represent the unwanted data

[3, 4, 5]

### Tuple methods

In [37]:
a = (1, 2, 2, 2, 3, 4, 2)

In [38]:
a.count(2)

4

### List

In [39]:
a_list = [2, 3, 7, None]

In [40]:
tup = ('foo', 'bar', 'baz')

In [41]:
a_list

[2, 3, 7, None]

In [42]:
tup

('foo', 'bar', 'baz')

In [43]:
b_list=list(tup)

In [44]:
b_list

['foo', 'bar', 'baz']

In [45]:
b_list[1] = 'peekaboo'

In [46]:
b_list

['foo', 'peekaboo', 'baz']

In [47]:
gen = range(10)

In [48]:
gen

range(0, 10)

In [49]:
list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

#### Adding and removing elements

In [50]:
b_list.append('dwarf')

In [51]:
b_list

['foo', 'peekaboo', 'baz', 'dwarf']

In [52]:
b_list.insert(1, 'red')# Insert object before index.

In [53]:
b_list

['foo', 'red', 'peekaboo', 'baz', 'dwarf']

In [54]:
b_list.pop(2)# remove the value, inverse of insert

'peekaboo'

In [55]:
b_list

['foo', 'red', 'baz', 'dwarf']

In [56]:
b_list.append('foo')# append to the last
b_list

['foo', 'red', 'baz', 'dwarf', 'foo']

In [57]:
b_list.remove('foo')# remove the first
b_list

['red', 'baz', 'dwarf', 'foo']

In [58]:
b_list.remove('foo')
b_list

['red', 'baz', 'dwarf']

#### Concatenating and combining lists

In [59]:
[4, None, 'foo'] + [7, 8, (2, 3)]

[4, None, 'foo', 7, 8, (2, 3)]

In [60]:
x = [4, None, 'foo']

In [61]:
x.extend([7, 8, (2, 3)])# prefer to use extend

In [62]:
x

[4, None, 'foo', 7, 8, (2, 3)]

#### Sorting

In [63]:
a = [7, 2, 5, 1, 3]

In [64]:
a.sort()

In [65]:
a

[1, 2, 3, 5, 7]

In [66]:
b = ['saw', 'small', 'He', 'foxes', 'six']

In [67]:
b.sort(key=len)

In [68]:
b

['He', 'saw', 'six', 'small', 'foxes']

#### Binary search and maintaining a sorted list

In [69]:
import bisect

In [70]:
c = [1, 2, 2, 2, 3, 4, 7]
bisect.bisect(c, 2)

4

In [71]:
c

[1, 2, 2, 2, 3, 4, 7]

In [72]:
bisect.bisect(c, 5)

6

In [73]:
bisect.insort(c, 6)

In [74]:
c

[1, 2, 2, 2, 3, 4, 6, 7]

#### Slicing

In [75]:
seq = [7, 2, 3, 7, 5, 6, 0, 1]

In [76]:
seq[3:4]=[6,3]

In [77]:
seq

[7, 2, 3, 6, 3, 5, 6, 0, 1]

In [78]:
seq[:5]

[7, 2, 3, 6, 3]

In [79]:
seq[3:]

[6, 3, 5, 6, 0, 1]

In [80]:
seq[-4:]

[5, 6, 0, 1]

In [81]:
seq[-6:-2]

[6, 3, 5, 6]

In [82]:
seq[::2]# jump every 2

[7, 3, 3, 6, 1]

In [83]:
seq[::-1]

[1, 0, 6, 5, 3, 6, 3, 2, 7]

### Built-in Sequence Functions

#### enumerate

In [84]:
collection=list(range(10))
i = 0
for value in collection:
    i+=1

In [85]:
i

10

In [86]:
for i,value in enumerate(collection):
    print(i,value)

0 0
1 1
2 2
3 3
4 4
5 5
6 6
7 7
8 8
9 9

# do something with value

In [87]:
some_list = ['foo', 'bar', 'baz']
mapping = {}
for i, v in enumerate(some_list):
    print(i)
    print(v)
    mapping[v] = i
mapping

0
foo
1
bar
2
baz

{'foo': 0, 'bar': 1, 'baz': 2}

In [88]:
enumerate(some_list)

In [89]:
mapping["foo"]

0

#### sorted

In [90]:
sorted([7, 1, 2, 6, 0, 3, 2])

[0, 1, 2, 2, 3, 6, 7]

In [91]:
sorted('horse race')# space is first

[' ', 'a', 'c', 'e', 'e', 'h', 'o', 'r', 'r', 's']

#### zip

In [92]:
seq1 = ['foo', 'bar', 'baz']
seq2 = ['one', 'two', 'three']
zipped = zip(seq1, seq2)

In [93]:
zipped# zip “pairs” up the elements of a number of lists, tuples, or other sequences to create a list of tuples:

In [94]:
list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [95]:
seq3 = [False, True]

In [96]:
list(zip(seq1, seq2, seq3))# only pair the min number

[('foo', 'one', False), ('bar', 'two', True)]

In [97]:
for i, (a, b) in enumerate(zip(seq1, seq2)):# really need to notice
    print('{0}: {1}, {2}'.format(i, a, b))

0: foo, one
1: bar, two
2: baz, three

In [99]:
pitchers = [('Nolan', 'Ryan'), ('Roger', 'Clemens'),
            ('Schilling', 'Curt')]

In [100]:
first_names, last_names = zip(*pitchers)

In [101]:
first_names

('Nolan', 'Roger', 'Schilling')

In [102]:
last_names

('Ryan', 'Clemens', 'Curt')

#### reversed

In [103]:
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

### dict

In [119]:
empty_dict = {}

In [120]:
d1 = {'a' : 'some value', 'b' : [1, 2, 3, 4]}

In [121]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [122]:
d1['a']

'some value'

In [123]:
d1[1]

KeyError: 1

In [124]:
d1['b']

[1, 2, 3, 4]

In [125]:
d1[7] = 'an integer'

In [126]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [127]:
d1[7]# can be number or string

'an integer'

In [128]:
'b' in d1

True

In [129]:
d1[5] = 'some value'
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer', 5: 'some value'}

In [130]:
d1['dummy'] = 'another value'
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 5: 'some value',
 'dummy': 'another value'}

In [131]:
del d1[5]
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 'dummy': 'another value'}

In [132]:
ret = d1.pop('dummy')
ret

'another value'

In [133]:
ret

'another value'

In [134]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [135]:
list(d1.keys())

['a', 'b', 7]

In [137]:
list(d1.values())

['some value', [1, 2, 3, 4], 'an integer']

In [138]:
d1.update({'b' : 'foo', 'c' : 12})
d1

{'a': 'some value', 'b': 'foo', 7: 'an integer', 'c': 12}

#### Creating dicts from sequences

In [139]:
mapping = {}

In [140]:
for key, value in zip(key_list, value_list):
    mapping[key] = value

NameError: name 'key_list' is not defined

In [141]:
mapping = dict(zip(range(5), reversed(range(5))))

In [143]:
mapping

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

In [144]:
words = ['apple', 'bat', 'bar', 'atom', 'book']
by_letter = {}
for word in words:
    letter = word[0]
    if letter not in by_letter:
        by_letter[letter] = [word]
    else:
        by_letter[letter].append(word)
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [145]:
by_letter['a'].append('apex')

In [146]:
by_letter

{'a': ['apple', 'atom', 'apex'], 'b': ['bat', 'bar', 'book']}

#### Valid dict key types

In [147]:
hash('string')

-3183528929282070011

In [148]:
hash('string')

-3183528929282070011

In [149]:
hash((1, 2, (2, 3)))

1097636502276347782

In [150]:
hash((1, 2, [2, 3]))# fails because lists are mutable

TypeError: unhashable type: 'list'

In [151]:
d = {}
d[tuple([1, 2, 3])] = 5

In [152]:
d

{(1, 2, 3): 5}

### set

In [153]:
set([2, 2, 2, 1, 3, 3])

{1, 2, 3}

In [154]:
{2, 2, 2, 1, 3, 3}

{1, 2, 3}

In [157]:
a = {1, 2, 3,3, 4, 5}
b = {3, 4, 5, 6, 7, 8}

In [158]:
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8}

In [159]:
a|b

{1, 2, 3, 4, 5, 6, 7, 8}

In [160]:
a.intersection(b)

{3, 4, 5}

In [161]:
a & b

{3, 4, 5}

In [162]:
c = a.copy()

In [163]:
c |= b

In [164]:
c

{1, 2, 3, 4, 5, 6, 7, 8}

In [165]:
d = a.copy()
d &= b
d

{3, 4, 5}

In [166]:
my_data = [1, 2, 3, 4]

In [167]:
my_set = {tuple(my_data)}

In [168]:
my_set

{(1, 2, 3, 4)}

In [169]:
a_set = {1, 2, 3, 4, 5}

In [170]:
{1, 2, 3}.issubset(a_set)

True

In [171]:
a_set.issuperset({1, 2, 3})

True

In [172]:
{1, 2, 3} == {3, 2, 1}

True

## List, Set, and Dict Comprehensions

In [173]:
strings = ['a', 'as', 'bat', 'car', 'dove', 'python']

In [174]:
[x.upper() for x in strings if len(x) > 2]

['BAT', 'CAR', 'DOVE', 'PYTHON']

In [175]:
unique_lengths = {len(x) for x in strings}

In [176]:
unique_lengths

{1, 2, 3, 4, 6}

In [177]:
set(map(len, strings))

{1, 2, 3, 4, 6}

In [178]:
loc_mapping = {val : index for index, val in enumerate(strings)}

In [179]:
loc_mapping

{'a': 0, 'as': 1, 'bat': 2, 'car': 3, 'dove': 4, 'python': 5}

#### Nested list comprehensions

In [180]:
all_data = [['John', 'Emily', 'Michael', 'Mary', 'Steven'],
            ['Maria', 'Juan', 'Javier', 'Natalia', 'Pilar']]

NameError: name 'np' is not defined