# Python Language Basics, IPython, and Jupyter Notebooks

In [1]:
import numpy as np

In [2]:
data = {i : np.random.randn() for i in range(7)}

In [3]:
type(data)

dict

In [4]:
data

{0: -0.3488836718227538,
 1: -1.150015104506995,
 2: -0.866085645391839,
 3: -1.8343881051006898,
 4: 0.3692576496485428,
 5: -0.055399152269017066,
 6: 0.8163261121182843}

In [5]:
{1:'122',2:'233'}

{1: '122', 2: '233'}

### Introspection

In [6]:
b = [1, 2, 3]

In [7]:
b?

In [8]:
print?

In [9]:
def add_numbers(a, b):
    """
    Add two numbers together

    Returns
    -------
    the_sum : type of arguments
    """
    return a + b

In [10]:
add_numbers?

In [12]:
add_numbers??

In [13]:
np.*load*?

### The %run Command

In [14]:
def f(x, y, z):
    return (x + y) / z

In [15]:
a = 5
b = 6
c = 7.5

result = f(a, b, c)

In [16]:
result

1.4666666666666666

In [20]:
%run Ch2.ipynb

ERROR:root:File `'ipython_script_test.py'` not found.

### Executing Code from the Clipboard

In [24]:
%paste
x = 5
y = 7
if x > 5:
    x += 1

    y = 8

UsageError: Line magic function `%paste` not found.

In [23]:
%paste

UsageError: Line magic function `%paste` not found.

In [25]:
%cpaste

UsageError: Line magic function `%cpaste` not found.

### About Magic Commands

In [26]:
a = np.random.randn(100, 100)

In [27]:
%timeit np.dot(a, a)

27.2 µs ± 1.4 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)

In [28]:
np.dot(a, a)

array([[  2.78204386,  -0.55986814,   9.61186846, ...,  10.28697304,
         -2.1735366 , -18.34132432],
       [  1.95896665,  -8.2815124 ,   3.02564784, ...,  -5.46233314,
          0.40278054,   8.34906609],
       [ -8.83297945,   2.55131579,   2.39892748, ...,   3.87015038,
          1.58327017, -11.2636231 ],
       ...,
       [  4.1324077 ,  14.29101176,   4.77553604, ...,   9.35699506,
         -5.58282809,   3.47276722],
       [-10.8022348 ,   3.95971965,   2.46123791, ...,  15.8266985 ,
          3.02562494, -10.80754667],
       [  2.23174778,  -3.93400269,  22.93728071, ...,   1.12732768,
         -3.98924876,  -0.49561712]])

In [29]:
%debug?

In [30]:
%pwd

'C:\\Users\\YS\\Desktop\\dataschool\\Untitled Folder'

In [31]:
foo = %pwd

In [32]:
foo

'C:\\Users\\YS\\Desktop\\dataschool\\Untitled Folder'

### Matplotlib Integration

In [34]:
%matplotlib

Using matplotlib backend: Qt5Agg

In [35]:
%matplotlib inline

# Python Language Basics

## Language Semantics

### Indentation, not braces

In [37]:
for x in array:
    if x < pivot:
        less.append(x)
    else:
        greater.append(x)

NameError: name 'array' is not defined

### Variables and argument passing

In [38]:
a = [1, 2, 3]

In [39]:
b = a

In [40]:
a.append(4)
b

[1, 2, 3, 4]

In [41]:
b

[1, 2, 3, 4]

In [42]:
a.append(4)

In [43]:
b

[1, 2, 3, 4, 4]

In [44]:
def append_element(some_list, element):
    some_list.append(element)

In [45]:
data = [1, 2, 3]

In [46]:
append_element(data, 4)

In [47]:
data

[1, 2, 3, 4]

### Dynamic references, strong types

In [48]:
a = 5
type(a)
a = 'foo'
type(a)

str

In [49]:
'5' + 5

TypeError: can only concatenate str (not "int") to str

In [50]:
a = 4.5
b = 2
# String formatting, to be visited later
print('a is {0}, b is {1}'.format(type(a), type(b)))
a / b

a is <class 'float'>, b is <class 'int'>

2.25

In [51]:
5+'5'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [52]:
a = 5

In [54]:
isinstance(a, float)

False

In [55]:
isinstance(a, int)

True

In [56]:
isinstance(a, (int, float))

True

### Attributes and methods

In [57]:
a = 'foo'

In [59]:
a.<Press Tab>

SyntaxError: invalid syntax (<ipython-input-59-656d30e2deb8>, line 1)

In [60]:
a = 'foo'

In [61]:
getattr(a, 'split')

In [62]:
a

'foo'

### Duck typing

In [63]:
def isiterable(obj):
    try:
        iter(obj)
        return True
    except TypeError: # not iterable
        return False

In [65]:
isiterable('a string')

True

In [66]:
isiterable([1, 2, 3])

True

In [67]:
isiterable(5)

False

In [68]:
# some_module.py
PI = 3.14159

def f(x):
    return x + 2

def g(a, b):
    return a + b

### Binary operators and comparisons

In [69]:
5 - 7
12 + 21.5
5 <= 2

False

In [70]:
a = [1, 2, 3]
b = a
c = list(a)

In [76]:
print(a,type(a))
print(b,type(b))
print(c,type(c))

[1, 2, 3] <class 'list'>
[1, 2, 3] <class 'list'>
[1, 2, 3] <class 'list'>

In [72]:
a is b

True

In [73]:
a is not c

True

In [74]:
a is  c

False

In [77]:
a == c

True

In [78]:
a = None

In [79]:
a is None

True

### Mutable and immutable objects

In [80]:
a_list = ['foo', 2, [4, 5]]

In [81]:
a_list

['foo', 2, [4, 5]]

In [82]:
a_list[2] = (3, 4)

In [83]:
a_list

['foo', 2, (3, 4)]

In [84]:
a_tuple = (3, 5, (4, 5))

In [85]:
a_tuple[1] = 'four'

TypeError: 'tuple' object does not support item assignment

## Scalar Types

### Numeric types

In [86]:
ival = 17239871
ival ** 6

26254519291092456596965462913230729701102721

In [87]:
fval = 7.243
fval2 = 6.78e-5

In [88]:
fval2

6.78e-05

In [89]:
3 / 2

1.5

In [90]:
3 // 2

1

### Strings

In [91]:
c = """
This is a longer string that
spans multiple lines
"""

In [92]:
c

'\nThis is a longer string that\nspans multiple lines\n'

In [93]:
c.count('\n')

3

In [96]:
a = 'this is a string'
a[1] = 'f'

TypeError: 'str' object does not support item assignment

In [97]:
b = a.replace('string', 'longer string')
b

'this is a longer string'

In [98]:
a = 5.6
s = str(a)
print(s)

5.6

In [99]:
s = 'python'
list(s)
s[:3]

'pyt'

In [100]:
s = '12\\34'
print(s)

12\34

In [101]:
s = r'this\has\no\special\characters'
s# need to be carefull about the blackslash

'this\\has\\no\\special\\characters'

In [102]:
a = 'this is the first half '
b = 'and this is the second half'
a + b

'this is the first half and this is the second half'

In [103]:
template = '{0:.2f} {1:s} are worth US${2:d}'

In [105]:
template.format(4.5560, 'Argentine Pesos', 1000)

'4.56 Argentine Pesos are worth US$1000'

### Bytes and Unicode

In [106]:
val = "español"
val

'español'

In [107]:
val_utf8 = val.encode('utf-8')
val_utf8
type(val_utf8)

bytes

In [108]:
val_utf8

b'espa\xc3\xb1ol'

In [109]:
val_utf8.decode('utf-8')

'español'

In [110]:
val.encode('latin1')

b'espa\xf1ol'

In [111]:
val.encode('utf-16')

b'\xff\xfee\x00s\x00p\x00a\x00\xf1\x00o\x00l\x00'

In [112]:
bytes_val = b'this is bytes'

In [113]:
bytes_val

b'this is bytes'

In [114]:
decoded = bytes_val.decode('utf8')

In [115]:
decoded

'this is bytes'

### Booleans

In [116]:
True and True

True

In [117]:
False or True

True

### Type casting

In [118]:
s = '3.14159'

In [123]:
fval = float(s)
print(fval,type(fval))
int(fval)
print(fval,type(fval))
bool(fval)
print(fval,type(fval))
bool(0)

3.14159 <class 'float'>
3.14159 <class 'float'>
3.14159 <class 'float'>

False

### None

In [124]:
a = None
a is None
b = 5
b is not None

True

In [125]:
type(None)

NoneType

### Dates and times

In [137]:
from datetime import datetime, date, time
dt = datetime(2011, 10, 29, 20, 30, 21,233)

In [138]:
dt.day

29

In [139]:
dt.minute

30

In [140]:
dt.date()

datetime.date(2011, 10, 29)

In [141]:
dt.time()

datetime.time(20, 30, 21, 233)

In [142]:
dt.strftime('%m/%d/%Y %H:%M')

'10/29/2011 20:30'

In [143]:
datetime.strptime('20091031', '%Y%m%d')

datetime.datetime(2009, 10, 31, 0, 0)

In [144]:
dt.replace(minute=0, second=0)

datetime.datetime(2011, 10, 29, 20, 0, 0, 233)

In [145]:
dt

datetime.datetime(2011, 10, 29, 20, 30, 21, 233)

In [146]:
dt.strftime('%m/%d/%Y %H:%M')

'10/29/2011 20:30'

In [147]:
dt2 = datetime(2011, 11, 15, 22, 30)
delta = dt2 - dt
delta

datetime.timedelta(days=17, seconds=7178, microseconds=999767)

In [148]:
type(delta)

datetime.timedelta

In [149]:
dt
dt + delta

datetime.datetime(2011, 11, 15, 22, 30)

## Control Flow

### if, elif, and else

In [150]:
a = 5; b = 7
c = 8; d = 4
if a < b or c > d:
    print('Made it')

Made it

In [152]:
4 > 3 > 2 < 1

False

### for loops

In [154]:
for i in range(4):
    for j in range(4):
        if j > i:
            break
        print((i, j))
        print(type((i,j)))

(0, 0)
<class 'tuple'>
(1, 0)
<class 'tuple'>
(1, 1)
<class 'tuple'>
(2, 0)
<class 'tuple'>
(2, 1)
<class 'tuple'>
(2, 2)
<class 'tuple'>
(3, 0)
<class 'tuple'>
(3, 1)
<class 'tuple'>
(3, 2)
<class 'tuple'>
(3, 3)
<class 'tuple'>

### range

In [155]:
range(10)
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [156]:
print(list(range(0, 20, 2)))
print(list(range(5, 0, -1)))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]
[5, 4, 3, 2, 1]