In [22]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
a={'A',[1,2]}

TypeError: unhashable type: 'list'

In [5]:
[1 ,2]

[1, 2]

In [8]:
list('123')

['1', '2', '3']

In [9]:
dates = pd.date_range('20130101', periods=6)

In [10]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))

In [11]:
df

                   A         B         C         D
2013-01-01 -0.425543 -0.712737  0.392963  0.434463
2013-01-02  2.068328  0.151404  0.988040  0.985442
2013-01-03 -0.553657 -0.419501  1.475039 -1.375558
2013-01-04  0.150816 -0.969561  0.260844 -2.501549
2013-01-05 -0.523895  2.719063 -1.032265  0.979582
2013-01-06  0.226422 -0.362080  0.310387 -0.404258

In [15]:
df['A']

2013-01-01   -0.425543
2013-01-02    2.068328
2013-01-03   -0.553657
2013-01-04    0.150816
2013-01-05   -0.523895
2013-01-06    0.226422
Freq: D, Name: A, dtype: float64

In [16]:
df.loc[:,'A']

2013-01-01   -0.425543
2013-01-02    2.068328
2013-01-03   -0.553657
2013-01-04    0.150816
2013-01-05   -0.523895
2013-01-06    0.226422
Freq: D, Name: A, dtype: float64

In [17]:
df.A

2013-01-01   -0.425543
2013-01-02    2.068328
2013-01-03   -0.553657
2013-01-04    0.150816
2013-01-05   -0.523895
2013-01-06    0.226422
Freq: D, Name: A, dtype: float64

In [18]:
df[df>0]

                   A         B         C         D
2013-01-01       NaN       NaN  0.392963  0.434463
2013-01-02  2.068328  0.151404  0.988040  0.985442
2013-01-03       NaN       NaN  1.475039       NaN
2013-01-04  0.150816       NaN  0.260844       NaN
2013-01-05       NaN  2.719063       NaN  0.979582
2013-01-06  0.226422       NaN  0.310387       NaN

In [19]:
df[df.A>0]

                   A         B         C         D
2013-01-02  2.068328  0.151404  0.988040  0.985442
2013-01-04  0.150816 -0.969561  0.260844 -2.501549
2013-01-06  0.226422 -0.362080  0.310387 -0.404258

In [21]:
[[1,2,3],[1,2,3]]

[[1, 2, 3], [1, 2, 3]]